################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PasswordGeneratorConsole/v17
/bin/Debug
/obj/Debug
/PasswordGeneratorTests/bin/Debug/net6.0
/PasswordGeneratorTests/obj
